<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/vue.js"></script>
    <script src="../lib/moment.js"></script>
</head>
<body>
<div id="app">
    {{'hello world'|capitalize}}
</div>
<script>
    Vue.filter('capitalize', function (string) {
        var [first, ...tail] = string
        return first.toUpperCase() + tail.join('')
    });
    new Vue({el:'#app'})
</script>
<div id="app1">
    <comp1></comp1>
    <comp2></comp2>
</div>
<script>
   var eventBus = new Vue();//必须新实例化一个作为事件hub;
   new Vue({
       el: '#app1',
       components: {
           comp1: {
               template: '<div/>',
               created () {
                 eventBus.$on('brew', () => {
                        console.log('HTTP Error 418: I\'m a teapot')
                  })
             }
       },
       comp2: {
           template: '<div/>',
                   created () {
               eventBus.$emit('brew')
           }
       }
    }
  });

</script>
<div id="app2">
    {!msg!}
</div>
<script>
    new Vue({
        el: '#app2',
        data: {
            msg:'hello world'
        },
        delimiters: ['{!','!}']
    })
</script>
<div id="app3">
    <input type="text" v-model="name"/>
    <input type="text" id="surname" value='Snow'/>
    <button @click="saveSurname">Save Surname</button>
    <output>{{computedFullName}}</output>
</div>
<script>
    let surname = 'Snow1';
    new Vue({
        el: '#app3',
        data: {
            name: 'John'
        },
        computed: {
            computedFullName () {
             return this.name + ' ' + surname
         }
    },
    methods: {
        saveSurname () {
            surname = this.$el.querySelector('#surname').value
        }
     }
    })
</script>
<div id="app4">
    <label>Legs: <input v-model="legCount" type="range"></label><br>
    <label>Tops: <input @input="update" :value="tableCount"></label><br>
    <output>
        We are going to build {{legCount}} legs
        and assembly {{tableCount}} tables.
    </output>
</div>
<script>
    new Vue({
        el: '#app4',
        data: {
            legCount: 0
        },
        computed: {
            tableCount: {
                get () {
                  return this.legCount / 4
                 },
                set (newValue) {
                    this.legCount = newValue * 4
                }
           }
      },
    methods:{
        update (e) {
            this.tableCount = e.target.value
        }
      }
 });
</script>
<div id="app5">
    <h3>List of expensive experiments</h3>
    <ul>
        <li v-for="exp in nonPhysics(lowCost(experiments))">
            {{exp.name}} ({{exp.cost}} $  )
        </li>
       <li>--------------</li>
        <li v-for="exp in filteredExperiments">
            {{exp.name}} ({{exp.cost}}m  )
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: '#app5',
        data: {
            experiments: [
                {name: 'RHIC Ion Collider', cost: 650, field: 'Physics'},
                {name: 'Neptune Undersea Observatory', cost: 100, field: 'Biology'},
                {name: 'Violinist in the Metro', cost: 3, field: 'Psychology'},
                {name: 'Large Hadron Collider', cost: 7700, field: 'Physics'},
                {name: 'DIY Particle Detector', cost: 0, field: 'Physics'}
            ]
        },
        methods: {
            nonPhysics () {
              return this.experiments.filter(exp => exp.field !== 'Physics');
          },
        lowCost (list) {
            return list.filter(exp => exp.cost <= 3)
        },
        filteredExperiments () {
            return this.lowCost(this.nonPhysics(this.experiments))
        }

    }
    });
</script>
</body>
</html>